<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
     <arg name="port" value="9000"/>
  </include>
  <node pkg="ros-robosys2018" name="count" type="count.py" required="true" />
  <node pkg="ros-robosys2018" name="twice" type="twice.py" required="true" />
  <node pkg="ros-robosys2018" name="webserver" type="webserver.py" args="8000" required="true" />  
</launch>
